<section id="about" class="text-gray-600 body-font pt-20">
    <div class="container px-5 py-24 mx-auto mt-16">
        <!--container mx-auto flex px-5 py-24 md:flex-row flex-col items-center-->
      <div class="lg:w-2/3 flex flex-col md:text-left sm:flex-row sm:items-center items-start mx-auto">
        <!--lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center-->
        <div class="lg:pr-24 md:pr-16">
            <h1 class="mb-8 flex-grow sm:pr-16 text-4xl font-medium title-font text-gray-900">Soy  Lyle A. Romero</h1>
            <p class="leading-relaxed text-gray-700 text-justify">
                Ingeniero electrónico con un gran interés por el desarrollo tecnológico 
                y el rol que representa en la evolución de todas las áreas del desarrollo humano, 
                actualmente me encuentro en el área de desarrollo web creando aplicativos 
                que automaticen procesos de Restaurantes y gestion de torneos utilizando tecnologías 
                de frontend como Angular/React y backend en Golang.<br> 
                Tengo conocimiento de despliegue de estos aplicativos en Firebase, 
                documentación con Github y actualmente amplío mi conocimiento con AWS. 
                Mi deseo es brindar mi conocimiento para seguir contribuyendo al desarrollo 
                tecnológico en el área de solución a problemas de comodidad del ser humano.</p>
        </div>
        <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-8 sm:mt-0">contacto</button>
      </div>
    </div>
  </section>