<section id="experience" class="pt-20 text-gray-600 body-font overflow-hidden">
  <h1 class="flex-grow text-4xl text-center text-gray-900 py-12 pb-6">Experiencia</h1>
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">Freelance</span>
            <span class="mt-1 text-gray-500 text-sm">Mar 2024 - Actualidad</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Desarrollo App Web Para la gestion de Torneos de Futbol en Fusagasugá</h2>
            <p class="leading-relaxed">Diseño de la plataforma web
              Diseño de base de datos en firebase
              Autenticación con Firebase
              Conexión con Firebase
              Despliegue de la app en Firebase</p>
            <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">Industriales Andes</span>
            <span class="mt-1 text-gray-500 text-sm">Jun 2022 - Actualidad</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Ingeniero de Proyectos</h2>
            <p class="leading-relaxed">Actividades:
              -Creacion de landing pages para la oferta comercial de la empresa como catalogo y portafolio
              -Apoyo en el rendimiento de la landing page para su automatizacion y velocidad de carga
              -Mantenimiento y actualizacion de la landing pages conforme requerimientos del diseñador
              
              Logros:
              -Apoyé en la creacion de landing pages haciendo uso de la tecnologia React para la interactividad
              -Se realizo la maquetacion acertiva para colocar los objetos de manera congruente
              -Se realizo los mantenimientos y atualizaciones requeridas por el diseñador parael rendimiento y estetica de la landing pages</p>
            <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">Freelance</span>
            <span class="text-sm text-gray-500">Jun 2021 - Jun 2022</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Ingeniero de diseño electronico e investigacion</h2>
            <p class="leading-relaxed">Diseño, creación e implementación de una red LoRa para realizar la adecuación de sensores y actuadores en un gastrobar con el fin de generar interactividad entre el espacio físico y los usuarios, además, se diseña un concentrador servidor con el que se puede tener acceso a la lectura de cada sensor y la manipulación de cada actuador.</p>
            <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">Vistronica</span>
            <span class="text-sm text-gray-500">Ene 2020 - Mar 2021</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Ingeniero de diseño electronico e investigacion</h2>
            <p class="leading-relaxed">Desarrollo electrónico e investigación, diseño y fabricación de tarjetas y módulos electrónicos bajo la marca SUTAGAO totalmente Colombiana

              ACTIVIDADES:
              -Diseño de circuitos, fabricación y programación de diversos módulos y shields
              -Fabricación en PICK AND PLACE de tarjetas Electronicas
              -Apoyo en el desarrollo del componente front-end, enfocado al internet de las cosas usando las tecnologías y lenguajes JS/MySql/html/
              -Realizar el respectivo testing
              
              LOGROS:
              - Participe activamente en el diseño y testing de 10 tarjetas electrónicas
              - Gestione y lidere el proyecto agrícola el cual contenía una serie de herramientas tecnológicas, como sensores GPS , basculas y comederos conectados a internet, que permiten automatizar ,optimizar y reducir costos en los procesos de producción.
              -Logre junto al equipo de desarrollo el financiamiento del área por 10 meses ,por parte de la gobernación de Cundinamarca
              -Logre aplicar la ley de pareto 80-20 como estrategia empresarial para enfocar las mejores ventas de las tarjetas electrónicas y aumentar la producción con mayor utilidad</p>
            <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>